body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "ye ye pur"
    "re gre pur"
    "re pin pin";
  margin: 0;
  gap: 10px;
}

div:nth-child(1) {
  background: yellow;
  grid-area: ye;
}

div:nth-child(2) {
  background: purple;
  grid-area: pur;
}

div:nth-child(3) {
  background: green;
  grid-area: gre;
}

div:nth-child(4) {
  background: red;
  grid-area: re;
}

div:nth-child(5) {
  background: pink;
  grid-area: pin;
}
