* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #111111;
}

body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #111111;
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
}

@keyframes animBefore {
  100% {
    opacity: 0;
  }
}
body {
  background: url(../img/bg.jpg) fixed center/cover;
  color: #f3f3f3;
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  background: none;
  border: 2px solid #111111;
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s;
}

.btn:hover {
  scale: 1.04;
}

header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
header .header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
header .header-container h1 {
  text-transform: uppercase;
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
  color: #f3f3f3;
}
header .header-container p {
  margin: 40px auto 60px;
  font-style: italic;
  width: 85%;
  color: #f3f3f3;
}
header .header-container i {
  border: 1px solid #f3f3f3;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header nav {
  background: rgba(255, 255, 255, 0.253);
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 65px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav .left-part li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  font-size: 0.7rem;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  color: #f3f3f3;
}
header nav .left-part li:first-child {
  background-color: #f3f3f3;
  color: #111111;
}
header nav .left-part li:hover {
  background: #f3f3f3;
  color: #111111;
}
header nav .right-part {
  width: 25%;
  max-width: 300px;
  justify-content: space-around;
  margin-right: 10px;
}
header nav .right-part li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
header nav .right-part li:hover {
  scale: 1.3;
}

main {
  width: 85%;
  margin: 0 auto 30px;
  background: #f3f3f3;
}
main img {
  width: 100%;
}
main .sect1 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
main .sect1 .sect1-container span::before {
  content: "";
  height: 1px;
  width: 37%;
  position: absolute;
  background: #d1d1d1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
main .sect1 .sect1-container span {
  width: 100%;
  padding: 70px 0;
  display: block;
  text-align: center;
  position: relative;
}
main .sect1 .sect1-container span::after {
  content: "";
  height: 1px;
  width: 37%;
  position: absolute;
  background: #d1d1d1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
main .sect1 .sect1-container h2 {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
main .sect1 .sect1-container p {
  margin: 30px auto;
  line-height: 35px;
  font-style: italic;
  font-size: 0.8rem;
  width: 60%;
  text-align: center;
}
main .sect1 .sect1-container .btn {
  margin: 50px 0 90px;
}
main .sect2 {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  border-top: 1px solid #d1d1d1;
}
main .sect2 p {
  margin: 30px 0;
}
main .sect2 h3 {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
  font-family: inter-bold, sans-serif;
}
main .sect2 .left-part {
  padding: 60px;
  border-right: 1px solid #d1d1d1;
}
main .sect2 .right-part {
  padding: 60px;
}

footer {
  display: grid;
  background: #e9e9e9;
  width: 85%;
  min-height: 640px;
  margin: 0 auto 70px;
  grid-template-columns: 50% 50%;
}
footer form {
  gap: 18px;
  display: grid;
  grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
  border-right: 1px solid #d1d1d1;
  padding: 60px 50px;
  width: 100%;
}
footer form label {
  color: dimgray;
  text-transform: uppercase;
  font-family: inter-bold, sans-serif;
  font-size: 0.7rem;
}
footer form input {
  border-radius: 4px;
  display: flex;
  width: 100%;
}
footer form textarea {
  resize: none;
  display: flex;
  width: 100%;
}
footer .right-part {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
footer .right-part div {
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: 1px solid #d1d1d1;
  align-items: center;
}
footer .right-part div h3 {
  padding-left: 40px;
}
footer .right-part .social ul {
  display: flex;
}
footer .right-part .social ul li {
  list-style-type: none;
  margin-right: 12px;
}
footer .right-part .social ul li i {
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */