$color1: whitesmoke;
$color2: rgb(15,15,15);
$color3: rgb(95, 4, 170);

@mixin CentrerElts {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    list-style: none; 
}

body {
    min-height: 100vh;
}

nav {
    max-width: 1100px;
    margin: 0 auto;

    ul {
        @include CentrerElts();
        justify-content: space-between;
        padding: 0 5px;
    } 
    
    li {
        padding: 20px 0;
        border-top: 5px solid transparent;
        font-weight: 900;
        font-size: 0.9rem;
    }

    
    li:first-child {
        border-top: 5px solid $color3;
    }

    li:hover {
        border-top: 5px solid $color3;

    }

    button {
        border-radius: 50px;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        font-weight: 900;
        background: rgba(128, 128, 128, 0.25);
    }
}

header {

    
    .main-header {
        @include CentrerElts();
        flex-direction: column;
        width: 100%;
        background: url(../img/bg.jpg) center/cover;
        padding: 60px;
    }

    h1 {
        color: $color1;
        margin: 30px 0 35px;;
        font-size: 1.5rem;
    }

    button {
        background-color: transparent;
        color: $color1;
        padding: 15px 30px;
        border: 1px solid $color1;
        letter-spacing: 2px;
        transition: 0.4s ease;
        cursor: pointer;
    }

    button:hover {
        color: $color2;
        background-color: $color1;
    }
}

section {
    .header-text {
        margin: 0 auto;
        padding: 45px 0;
        max-width: 1100px;


        p {
            font-size: 1.2rem;
            line-height: 34px;
            text-align: center;
        }
    }

    
}


.icon-part {
    padding: 65px 0;
    background-color: $color2;
    @include CentrerElts();

    .icon-part-container {
        @include CentrerElts();
        max-width: 1100px;

        .list-icon-part{
            text-align: center;
        }

        .lip-logo {
            margin-bottom: 30px;

        }

        h3 {
            font-size: 1.17rem;
            color: $color1;
        }
        
        p {
            color: $color1;
            text-align: center;
            margin: 10px auto 20px;
        }

        button {
            border: 1px solid $color1;
            background: transparent;
            color: $color1;
            padding: 9px 32px;
            transition: 0.4s ease;
            cursor: pointer;
        }

        button:hover {
            color: $color2;
            background-color: $color1;
        }
    }
}

.news-part {
    background: rgba(245, 245, 245, 0.8);
    padding: 80px 0 45px;
    
    .header-news {
        @include CentrerElts();
        justify-content: space-around;

        .left-part {
            line-height: 30px;

            h2 {
                font-weight: 600;
                letter-spacing: 2px;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .right-part {
            button {
                border: 1px solid $color2;
                background: transparent;
                color: $color2;
                padding: 10px 20px;
                transition: 0.4s ease;
                cursor: pointer;
            }
        }
    }

    .main-news {
        .main-new-container {
            display: flex;
            justify-content: space-around;
            max-width: 1100px;
            margin: 45px auto;

            .new {
                max-width: 23%;
                position: relative;
            }

            h4 {
                margin: 15px auto;
            }

            p {
                font-size: 0.8rem;
                margin-bottom: 45px;
            }

            a {
                text-decoration: none;
                color: $color3;
                font-size: 0.7rem;
                letter-spacing: 1px;
                bottom: 0;
                position: absolute;
            }
        }
    }
}
    
.contact {
    padding: 65px 0 20px;
    margin: 0 auto;
    max-width: 1100px;
    margin: 0 auto;
    .contact-container {

        .contact-list {
            display: flex;
            justify-content: space-around;
            position: relative;

            &::after {
                    content: ""; // Ne pas oublier le CONTENT !!!!! 
                    height: 1px;
                    width: 80%;
                    position: absolute;
                    background: rgb(235, 235, 235);
                    bottom: 0;
                }
        }
        
        .list {
            width: 24%;
             
            h5 {
                margin-bottom: 15px;
                font-size: 1rem;
            }
            .info-p {

                li {
                    margin: 15px 0;
                    font-weight: 400;
                    
                    a {
                        text-decoration: none;
                    }
                }
            }

            p {
                margin-bottom: 15px;
                line-height: 22px;
            }

            a {
                text-decoration: none;
            }

            h6 {
                font-weight: bold;
            }

            #network {
                margin: 20px 0 8px;
            }

            .footer-logos {
                margin-bottom: 30px;
            }
        }
    }
    
    .contact-medias {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 60px 0 15px;


        .left-part {
            width: 30%;
        }

        .right-part {
            width: 70%;
            text-align: center;
        }
    }

}

footer {
    background-color: $color2;
    padding: 25px;

    h3 {
        font-weight: 700;
        margin-bottom: 32px;
        color: $color1;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}